html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: lightblue;
  font-family: "Times New Roman", Times, serif;
}

img {
  width: 100%;
  position: relative;
  background-attachment: fixed;
  margin: auto;
  object-fit: fill;
  
  
}

.timeline {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  min-height: 100vh;
}

.timeline::after {
  content: "";
  position: absolute;
  /* height: 98%; */
  border-left: 6px solid rgb(5, 5, 66);
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
}

.timeline-card {
  position: relative;
  height: 100%;
  display: table;
  content: "";
  clear: both;
  margin-bottom: -5%;
  padding: 10px 30px;

 
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: -10px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}



  /* animation-duration: 3s;
  animation-name: slidein; */
/* } */ 
.card {
  /* border: 1px solid white; */
  height: 200px;
  width: 40%;
  background-color: ghostwhite;
  display: table; 
  content: "";
  clear: both;
  padding: 10px 30px;
  position: relative;
  /* border-radius: 6px; */
}
.card p {
  text-align: left;
  

}
.right {
  left: 55%;
  box-shadow: 5px 5px rgb(210, 208, 208);
}
.left {
  left: 5%;
  box-shadow: 5px 5px rgb(210, 208, 208);
}
.h1 {
  position: absolute;
  top: 8px;
  left: 16px;
  font: 24px bolder;
  font-weight: bold;
}

.card h2 {
  position: absolute;
  top: 50%;
  left: 35px;
  font: 24px;
  font-weight: bold;
  color: white;
  z-index: 5;
}
.card .h3 {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 30px;
  font-weight: bold;
}

.timeline-card  button {
/  transition-duration: 0.4s;
  object-position: right 75%;
  bottom: 15px;
  left: 15px;
  border-radius: 3px;
  background-color: navy;
  font-size: 16px;
  color: white;
}

.timeline-card button:hover {
  background-color: #a46335;
  color: white;
}

.timeline-card .date {
  background-color: rgb(180, 74, 35);
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: aliceblue;
  top: 0px;
  right: 0px;
  padding: 8px;
}

.timeline i {
  position: relative;
  z-index: 1;
  font-size: 30px;
  background-color: white;
  left: 50%;
  transform: translate(-50%);

}

@media (max-width: 768px) {
  .timeline::after {
    left: 0px;
  }
  .timeline-card:nth-child(even) {
    float: initial;
  }
  .timeline-event {
    width: 80%;
  }
}

/* animation notes: 
@keyframes slideinleft {
  from {
    transform: translateX(-100%)

  }
  to {
transform: translateX(0);
  }
}

@keyframes slideinright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */
