html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: lightblue;
}

img {
  width: 100%;
}
.timeline {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
}

.timeline::after {
  content: "";
  position: absolute;
  height: 95vh;
  border-left: 6px solid navy;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.timeline-card {
  border: 1px solid black;
  height: 200px;
  width: 30%;
  background-color: ghostwhite;
  content: "";
  clear: both;
  display: table;
}

.timeline-card:nth-child(even) {
  float: right;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #a46335;
  color: white;
}

i {
  position: relative;
 height: 100px;
 margin: 0 5px;
   left: 47%;
  width: 80%;
  clear: both;
  display: table;
  z-index: 90;

 


}